@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 188, 117, 224;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}

.purpleGradient{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
  transparent,
  rgb(var(--background-end-rgb)))
  rgb(var(--background-start-rgb));
  height: 100vh;
}

@-webkit-keyframes pulse {
  0% { background-color: #ddc5dd; }
  50% { background-color: #FFF; }
  100% { background-color: #ddc5dd; }
}

@-moz-keyframes pulse {
  0% { background-color: -#ddc5dd; }
  50% { background-color: #FFF; }
  100% { background-color: #ddc5dd; }
}

@-o-keyframes pulse {
  0% { background-color: #ddc5dd; }
  50% { background-color: #FFF; }
  100% { background-color: #ddc5dd; }
}

@keyframes pulse {
  0% { background-color: #ddc5dd; }
  50% { background-color: #FFF; }
  100% { background-color: #ddc5dd; }
}

.PulseColor {
  background: #FFF;
  -webkit-animation: pulse 3s infinite; /* Safari 4+ */
  -moz-animation:    pulse 3s infinite; /* Fx 5+ */
  -o-animation:      pulse 3s infinite; /* Opera 12+ */
  animation:         pulse 3s infinite; /* IE 10+, Fx 29+ */
}